<!DOCTYPE html>
<html lang="{{ site.lang | default: 'de-ch' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon.ico">

    {% seo %}
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    {% include head-custom.html %}

    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const screen_height = window.innerHeight;
        console.log(screen_height);

        const navigation_element = document.getElementById("Navigation");
        console.log("element height");
        console.log(navigation_element);
        if (navigation_element) {
          const navigation_height = navigation_element.getBoundingClientRect().height;
          const navigation_position = navigation_element.getBoundingClientRect().y;
          console.log("pos");
          console.log(navigation_position);
          console.log(navigation_height);
        } else {
          console.error("Navigation element not found.");
        }
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          <p>
            Benutzerhandbuch Präanalysetool (QGIS-Plug-in).<br/>
            Diese Anleitung wurde im Rahmen der Bachelorthesis BTh03 erstellt von:<br/>
            <br/>
            Fabian Rüfenacht<br/>
            Fachhochschule Nordwestschweiz<br/>
            Institut Geomatik<br/>
            Hofackerstrasse 30<br/>
            4132 Muttenz
          </p>
        {% endif %}

        <div style="height: 20px;"></div>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        <h2>Inhalt</h2>

        <nav id="Navigation">
          <ul>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/">1. Einleitung</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#install">2. Installationsanleitung</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#Help">3. Hilfe</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#openProject">4. Projekt eröffnen</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#fundamental_data">5. Grundlagen</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#stochMod">6. Stochastisches Modell</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#networkDef">7. Netzdefinition</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#QualRel">8. Qualität und Zuverlässigkeit</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#Calc">9. Berechnung</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#Results">10. Resultate</a></li>
            <li><a href="https://fabianruefenacht.github.io/praeanalyse_tool_docs/#Literature">11. Literatur</a></li>
          </ul>
        </nav>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer class="footer">
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
